@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  background: url("../assets/bg.jpg"), no-repeat;
  background-size: cover;
  background-position: center;
}
#player {
  display: none;
  visibility: hidden;
}
.container {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.score {
  padding: 10px;
  font-size: 44px;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#start-button {
  border: none;
  background: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  padding: 7px 20px;
  color: #fff;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.05em;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s all linear;
}
#start-button:hover {
  box-shadow: 0 0 12px #f5576c94;
  text-shadow: 0 0 12px #f5576c94;
}

.grid {
  width: 200px;
  height: 400px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  position: relative;
}

.grid div {
  height: 20px;
  width: 20px;
  transition: 0.3s all linear;
}

.tetromino {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  box-shadow: 0 0 12px #f5576c6e;
}

.mini-grid {
  margin-left: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
}
.mini-grid div {
  height: 20px;
  width: 20px;
}
.status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.781);
  text-shadow: 0 0 12px #f193fb6c;
  display: none;
}
.status::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.781);
  box-shadow: 0 0 12px #f193fb6c;
  left: 0;
  top: 30px;
  right: 0;
  animation: 2s pausedStatus linear infinite;
}
.status::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.781);
  box-shadow: 0 0 12px #f193fb6c;
  left: 0;
  top: 30px;
  right: 0;
  animation: 2s pausedStatus linear infinite;
  animation-delay: 1s;
}

@keyframes pausedStatus {
  0%,
  100% {
    left: 0px;
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    left: 80px;
    transform: rotate(180deg);
    opacity: 0;
  }
}
